.ImageGallery1 {
	float: left;
	width: 500px;
	height: 500px;
	background-image: url("../_images/BondageDuck.jpg");
	background-size: cover;
	margin-top: 5px;
	margin-left: 5px;
}

.ImageGallery2 {
	float: left;
	width: 500px;
	height: 500px;
	background-image: url("../_images/DeadDuck.jpg");
	background-size: cover;
	margin-top: 5px;
	margin-left: 5px;
}

.ImageGallery3 {
	float: left;
	width: 500px;
	height: 500px;
	background-image: url("../_images/DevilDuck.jpg");
	background-size: cover;
	margin-top: 5px;
	margin-left: 5px;
}

.ImageGallery4 {
	float: left;
	width: 500px;
	height: 500px;
	background-image: url("../_images/Ninduck.jpg");
	background-size: cover;
	margin-top: 5px;
	margin-left: 5px;
}

.ImageGallery5 {
	float: left;
	width: 500px;
	height: 500px;
	background-image: url("../_images/PolkaDuck.jpg");
	background-size: cover;
	margin-top: 5px;
	margin-left: 5px;
}

.ImageGallery6 {
	float: left;
	width: 500px;
	height: 500px;
	background-image: url("../_images/SherduckHolmes.jpg");
	background-size: cover;
	margin-top: 5px;
	margin-left: 5px;
}

.ImageGallery7 {
	float: left;
	width: 500px;
	height: 500px;
	background-image: url("../_images/SpiderDuck.JPG");
	background-size: cover;
	margin-top: 5px;
	margin-left: 5px;
}

.ImageGallery8 {
	float: left;
	width: 500px;
	height: 500px;
	background-image: url("../_images/StraightOuttaDuckton.jpeg");
	background-size: cover;
	margin-top: 5px;
	margin-left: 5px;
}

.ImageGallery9 {
	float: left;
	width: 500px;
	height: 500px;
	background-image: url("../_images/Surfduck.jpg");
	background-size: cover;
	margin-top: 5px;
	margin-left: 5px;
}
.test1 {
	float: left;
	width: 500px;
	height: 500px;
	background-size: cover;
	margin-top: 5px;
	margin-left: 5px;
	background-color: white;
	opacity: .5;
	text-align: center;
}

.hidden1 {
	visibility: hidden;
}

.test2 {
	float: left;
	width: 500px;
	height: 500px;
	background-size: cover;
	margin-top: 5px;
	margin-left: 5px;
	background-color: white;
	opacity: .5;
	text-align: center;
}

.hidden2 {
	visibility: hidden;
}

.test3 {
	float: left;
	width: 500px;
	height: 500px;
	background-size: cover;
	margin-top: 5px;
	margin-left: 5px;
	background-color: white;
	opacity: .5;
	text-align: center;
}

.hidden3 {
	visibility: hidden;
}

.test4 {
	float: left;
	width: 500px;
	height: 500px;
	background-size: cover;
	margin-top: 5px;
	margin-left: 5px;
	background-color: white;
	opacity: .5;
	text-align: center;
}

.hidden4 {
	visibility: hidden;
}

.test5 {
	float: left;
	width: 500px;
	height: 500px;
	background-size: cover;
	margin-top: 5px;
	margin-left: 5px;
	background-color: white;
	opacity: .5;
	text-align: center;
}

.hidden5 {
	visibility: hidden;
}

.test6 {
	float: left;
	width: 500px;
	height: 500px;
	background-size: cover;
	margin-top: 5px;
	margin-left: 5px;
	background-color: white;
	opacity: .5;
	text-align: center;
}

.hidden6 {
	visibility: hidden;
}

.test7 {
	float: left;
	width: 500px;
	height: 500px;
	background-size: cover;
	margin-top: 5px;
	margin-left: 5px;
	background-color: white;
	opacity: .5;
	text-align: center;
}

.hidden7 {
	visibility: hidden;
}

.test8 {
	float: left;
	width: 500px;
	height: 500px;
	background-size: cover;
	margin-top: 5px;
	margin-left: 5px;
	background-color: white;
	opacity: .5;
	text-align: center;
}

.hidden8 {
	visibility: hidden;
}

.test9 {
	float: left;
	width: 500px;
	height: 500px;
	background-size: cover;
	margin-top: 5px;
	margin-left: 5px;
	background-color: white;
	opacity: .5;
	text-align: center;
}

.hidden9 {
	visibility: hidden;
}

